<% layout("boilerplate.ejs") %>


<div style="height: 60vh;" class="container mt-5 mb-5 ">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img style="height:200px; width:400px;" src="<%= guide.image %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= guide.username %></h5>
              <p class="card-text"> <b> Rs. <%= guide.fees %></b> (Negotiable)
              <p class="card-text">+91 <%= guide.number %></p>
              <p class="card-text"><%= guide.email %></p>
            </div>
          </div>
        </div>
      </div>

</div>
